.projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;

    .slider-wrapper {
        height: 80%;
        width:  66%;
        animation: lightSpeedInRight 1s 1.8s backwards;
    }
    
    h1 {
        color: white;
        font: 600 4rem 'Coolvetica';
    }
}