.projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    .slider-wrapper {
        height: auto;
        width:  66vw;
        animation: fadeInRightBig 1s 1.8s backwards;
    }
    
    h1 {
        color: white;
        font: 600 4rem 'Coolvetica';
    }
}