@use "../../util/variables" as v;

.letter-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s forwards;
  min-width: 0.625rem;
  padding-left: 0.188rem;
}

.letter-animate-hover {
  display: inline-block;
  animation-fill-mode: both;
  min-width: 0.625rem;
  padding-left: 0.188rem;

  &:hover {
    animation: rubberBand 1s;
    color: v.$primary-color;
  }
}

@for $i from 0 through 39 {
  .letter-animate._#{$i} {
    animation-delay: calc($i / 17)s;
  }
}
