// _variables.scss

$primary-color: #ffd700;                // Define primary color
$secondary-color: #8d8d8d;              // Define secondary color
$text-color: white;                     // Define text color
$text-secondary-color: #dddddd;         // Define secondary text color
$background-color: #0d0824;             // Define background color
$background-secondary-color: #130b33;   // Define secondary background color
$sidebar-color: #04020d;                // Define sidebar color
