@use "../../../util/variables" as v;

.nav-bar {
    background-color: v.$sidebar-color;
    z-index: 3;
    height: 100vh;
    padding-top: -10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .logo {
        padding-top: 1rem;
    }

    nav {

        a {
            font-size: 1.4rem;
            color: v.$secondary-color;
            line-height: 3.1875rem;
            height: 3.1875rem;
            position: relative;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: v.$primary-color;

                svg {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            &:after {
                content: "";
                font-size: 0.6rem;
                letter-spacing: 0.125rem;
                position: relative;
                margin-top: -50%; 
                opacity: 0;
                transition: all 0.3s ease-out;
                display: flex;
                justify-content: center;
            }
        }

        a.home-link {
            &:after {
                content: 'HOME';
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }

        a.projects-link {
            &:after {
                content: 'PROJECTS';
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: v.$primary-color;
            }
        }
    }

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        padding-bottom: 1rem;

        li a {
            color: v.$secondary-color;
            padding: .5rem 0;
            font-size: 1rem;
            display: flex;
            justify-content: center;

            &:hover svg {
                color: v.$primary-color;
            }
        }
    }
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        background: transparent;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;

        ul, nav, .logo {
            display: none;
        }

        nav {
            width: 100vw;
            background: v.$sidebar-color;
            z-index: 2;
            position: absolute;

            &.mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            a:after {
                opacity: 1;
                position: relative;
                margin: 0;
                margin-left: .8rem;
            }

            a svg {
                opacity: 1 !important;
            }
        }

        .mobile-menu {
            color: v.$primary-color;
            font-size: 3rem;
            margin-top: 1rem;
            margin-left: 1rem;
            display: block;
            z-index: 4;
        }
    }
}