.container {
    position: relative;
    width: 150%;
    height: 90%;
    top: 5%;
    will-change: contents;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s 1s forwards;
}

.App {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .container {
        height: auto;
        width: auto;
    }
}