.about-page {
    display: flex;
    align-items: center;
    padding: 0rem 10rem;
    height: 90vh;
    .text-zone {
        width: 50%;
        h1 {
            color: white;
            font: 600 4rem 'Coolvetica';
        }

        p {
            animation: fadeIn 1s 1.8s backwards;
            margin-top: -1rem;
            margin-bottom: 3.5rem;
            color: #8d8d8d;
            font-size: 2rem;
        }
        .flat-button {
            font-size: 2rem;
        }
    }
    .image-zone {
        img {
            transform: scale(0.8);
        }
    }
}