@use "../../../../util/variables" as v;

.contact-item {
    margin-bottom: .5rem;
    color: v.$secondary-colory;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .title-section {
        font-weight: 600;
        .logo {
            color: v.$primary-color;
            margin-right: 1rem;
        }
    }
    .text-section {
        font-family: sans-serif;
    }
}