.slider {
    min-height: 0;
    min-width: 0;
    .slick-dots {
        position: relative;
        margin-top: 1vh;
        li button {
            &::before {
                font-size: 1.25rem;
                line-height: 1.25rem;
                opacity: 1;
                color: white;
            }
            &:hover::before {
                color: white;
            }
        }
        li.slick-active {
            button {
                &::before {
                    opacity: 1;
                    color: #ffd700;
                }
            }
        }
    }
}