@use "../../../../util/variables" as v;

.project-item {
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 0.25rem solid v.$primary-color;
    max-width: 100%;

    img {
        max-height: 22rem;
        width: 100%;
    }

    #img-info {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        border-top: 0.25rem solid v.$primary-color;

        h2 {
            color: v.$text-color;
            font-size: 1.5rem;
            margin-right: 0.75rem;
            text-align: center;
            flex: 1;
        }

        a {
            padding: 0 0.5rem;

            #github-icon {
                color: v.$text-color;
                font-weight: 500;
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .project-item #img-info h2 {
        font-weight: 400;
    }
}

@media screen and (max-width: 370px) {
    .project-item #img-info h2 {
        font-size: 1rem;
    }
}