.home-page {
  display: flex;
  align-items: center;
  padding: 0rem 10rem;
  height: 90vh;
    
  .text-zone {
    padding: 7rem 0rem;
    letter-spacing: 0.15rem;
    width: 50%;
    
    h1 {
      color: rgb(201, 190, 190);
      font: 400 6rem 'Coolvetica';
    }

    h2 {
      margin-top: -1.5rem;
      margin-bottom: 5rem;
      color: #8d8d8d;
      font: 400 1.2rem sans-serif;
      animation: fadeIn 1s 1.8s backwards;
    }
  }
}
  