@use "../../util/variables" as v;

.home-page {
  display: flex;
  align-items: center;
  padding: 0 10rem;
  height: 90vh;
    
  .text-zone {
    padding: 7rem 0rem;
    letter-spacing: 0.15rem;
    width: 50vw;
    
    h1 {
      color:v.$text-color;
      font: 400 6rem 'Coolvetica';
    }

    h2 {
      margin-top: -1.5rem;
      margin-bottom: 5rem;
      color: v.$secondary-colory;
      font: 400 1.2rem sans-serif;
      animation: fadeIn 1s 1.8s backwards;
    }
  }
}
@media screen and (max-width: 1200px) {
  .home-page {
    padding: 0 0rem;
    .text-zone {
      transform: none;
    }
  }
}
  