.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        color: white;
        font: 600 4rem 'Coolvetica';
    }

    .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        text-align: left;

        .contact-information, .form-wrapper {
            width: 33vw;
        }

        h2 {
            font: 400 2.5rem 'Coolvetica';
            color: #dddddd;
            letter-spacing: 0px;
        }

        .form-wrapper h2 {
            animation: fadeInDown 1s 1.5s backwards;
        }

        .contact-information h2 {
            animation: fadeInUp 1s 1.5s backwards;
        }

        p {
            color: #8d8d8d;
            font-size: 1.5rem;
        }

        ul {
            list-style: none;
            padding: 0px;
        }

        p, ul, .form {
            animation: fadeIn 1s 2s backwards;
        }
        
        .logos {
            margin-top: 3rem;
            display: flex;
            flex-direction: row;    
            justify-content: space-around;
            li a {
                border: .125rem solid #ffd700;
                padding: 1.75rem;
                border-radius: 100%;
                font-size: 2rem;
                color: #ffd700;

                &:hover {
                    background-color: #ffd700;
                    color: #333;
                }
            }
        }
    }
}