@use "../../../../util/variables" as v;

.contact-form {
    ul {
        padding-left: 0;

        #single-line {
            display: flex;
            flex-direction: row;

            li {
                width: 50%;
            }

            .right {
                margin-left: .5rem;
            }
        }

        li {
            list-style: none;
            margin-top: .8rem;
            overflow: hidden;

            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                background-color: v.$background-secondary-color;
                border: none;
                height: 3rem;
                font-size: 2rem;
                padding: 0 1rem;
                box-sizing: border-box;
                color: v.$text-color;
                border-radius: .5rem;

                &:focus {
                    outline: none;
                    box-shadow: 0;
                  }
            }

            textarea {
                height: 8rem;
            }

            .flat-button {
                font-size: 2rem;
            }

            // Google autofill fixing
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px v.$background-secondary-color inset !important;
            }

            input:-webkit-autofill {
                -webkit-text-fill-color: white !important;
            }
        }
    }
}

// Popup
.alert-popup {
    background-color: v.$background-secondary-color;
    color: v.$text-color;
}

.alert-icon {
    border-color: v.$primary-color !important;

    .swal2-success-line-tip,
    .swal2-success-line-long {
        background-color: v.$primary-color !important;
    }
}