.nav-bar {
    background-color: #181818;
    width: 3.75rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;

    .logo {
        margin-top: 1rem;
        font: 900 2rem La Belle Aurore;
        font-weight: 900;

        letter-spacing: -.125rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        background: -webkit-linear-gradient(white, #ffd700);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 13.125rem;
        top: 50%;
        margin-top: -7.5rem;
        width: 100%;

        a {
            font-size: 1.4rem;
            color: #4d4d4e;
            display: block;
            line-height: 3.1875rem;
            height: 3.1875rem;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ffd700;

                svg {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            &:after {
                content: "";
                font-size: 0.57rem;
                letter-spacing: 0.125rem;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }

        a.home-link {
            &:after {
                content: 'HOME';
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }

        a.projects-link {
            &:after {
                content: 'PROJECTS';
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: #ffd700;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 1.25rem;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li a {
            color: #4d4d4e;
        }
    }

    li {
        a {
            padding: 0.45rem 0;
            display: block;
            font-size: 1rem;
            line-height: 1rem;

            &:hover svg {
                color: #ffd700;
            }
        }
    }
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        background: transparent;
        position: initial;

        ul, nav, .logo {
            display: none;
        }

        nav {
            width: 100%;
            height: auto;
            background: #181818;
            z-index: 2;

            &.mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 0px;
                padding-top: 0px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a:after {
                opacity: 1;
                position: initial;
                width: auto;
                margin-left: .8rem;
            }

            a svg {
                opacity: 1 !important;
            }
        }

        .mobile-menu {
            color: #ffd700;
            font-size: 3rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: block;
            z-index: 4;
        }
    }
}